/* -------------------
    RESET
------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------------------
    COMMON
------------------- */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}
.container {
    max-width: 62.5rem;
    width: 100%;
    margin: auto;
    padding: 1.25rem 5.625rem 3.125rem;
    background-color: #b91450;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
}
.row {
    display: flex;
    justify-content: space-around;
}
h2 {
    color: white;
    font-size: 1.625rem;
    font-weight: bold;
}
h3 {
    text-align: left;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}
input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

/* -------------------
    FORM
------------------- */
.my-form {
    background-color: white;
    color: #b91450;
    margin: 1.5625rem 0;
    border-radius: .625rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.col-passenger, .col-distance, .col-age {
    padding: 1.875rem 0 3.125rem;
}
 .my-form .form-container label {
    display: inline-block;
    color: inherit;
    margin-bottom: .9375rem;
 }
 .my-form input, .my-form select {
    background-color: inherit;
    border: 1px solid #b91450;
    border-radius: 4px;
    padding: .3125rem 0;
 }
 .my-form button {
    color: inherit;
    font-weight: bold;
    padding: .3125rem;
    margin: 0 .625rem 1.25rem;
 }
#btn-trigger {
    border: 2px solid #e08f47;
    border-radius: .25rem;
}

/* -------------------
    OUTPUT
------------------- */
.ticket {
    position: relative;
    right: -111%;
    z-index: 0;
    transition: right 0.7s cubic-bezier(.18,.89,.32,1.28);
}
.output-container {
    text-align: left;
    padding: 1.25rem;
    background-color: white;
}
.block {
    right: 0;
}
.output {
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
}
.output .col {
    padding: 1.5625rem .9375rem;
}
.col-passenger-details {
    text-align: left;
    width: 30%;
    background-color: #808080;
    font-weight: bold;
}
.col-sale, .col-price {
    width: 20%;
}
.col-cabin, .col-code {
    width: 15%;
}
#total-price {
    color: red;
    text-decoration: line-through;
}
#price {
    color: green;
}
.resume {
    padding-bottom: 1.875rem;
    font-size: 1rem;
    font-weight: bold;
}